.dashboard {
  padding:  1rem; 
  background-color: var(--blue-color1);
  height: 100vh;
}

.cards {
  display: flex;
  gap: 20px;
  /* flex-wrap: wrap; */
}

.card {
  flex: 1;
  min-width:500px;
  background-color: var(--blue-color2);
  border-radius: 12px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  transition: transform 0.2s;
}

/* .card:hover {
  transform: translateY(-5px);
} */

.card-icon {
  background-color: var(--blue-color1);
  padding: 12px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-icon-svg{
  font-size: 1.8rem;
  fill: var(--white-color);
}
.card-info h3 {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--text_blue-color1);
}

.card-info .number {
  font-size: 2rem;
  font-weight: bold;
  margin: 5px 0;
  color: var(--white-color);
}

.percent {
  font-size: 14px;
  font-weight: 500;
  padding: 3px 8px;
  border-radius: 8px;
}

.percent.up {
  background: #ecfdf5;
  color: #059669;
}

.percent.down {
  background: #fef2f2;
  color: #dc2626;
}
