
.sidebar-header {
  background-color: var(--blue-color2);
  margin: 1rem 0;
  border-radius: 1.5rem;
  padding: 1rem 0;
}

.username_sidebar{
  font-size: 0.8rem;
  color: var(--white-color);
}
/* .logo_sidebar{
  width: 100%;
  max-width: 200px; 
  margin: 0 auto;
  
} */
.avatar_sidebar{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.avatar_img_sidebar{
  width: 50px;
  border-radius: 50%;
}

.section-title {
  font-size: 16px;
  font-weight: 600;
  color: var(--white-color);
  margin: 15px 0 8px 10px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  margin-bottom: 6px;
}


.sidebar-menu a,
.dropdown-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 10px;
  border-radius: 8px;
  color: var(--white-color);
  text-decoration: none;
  transition: background 0.2s, color 0.2s;
  font-size: 15px;
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;
  text-align: left;
}


.sidebar-menu a:hover,
.dropdown-btn:hover {
  background: var(--blue-color2);
  color: var(--white-color);
}

.sidebar-menu a.active,
.submenu a.active {
  background: var(--white-color);
  color: var(--blue-color1);
  font-weight: 500;
  padding: 10px 10px;

}

.badge {
  background: #d1fae5;
  color: #10b981;
  font-size: 10px;
  font-weight: 600;
  padding: 2px 6px;
  border-radius: 6px;
  margin-left: auto;
}

.arrow {
  margin-left: auto;
  font-size: 1rem;
  color: #6b7280;
}


.submenu {
  list-style: none;
  padding-left: 10px;
  margin: 5px 0;
}

.submenu li {
  margin-bottom: 4px;
}

.submenu a {
  font-size: 14px;
  padding: 10px 10px;
  border-radius: 6px;
  color: #4b5563;
}


.submenu li .active-link {
  background-color: #4f46e5;
  color: white;
  border-radius: 6px;
  display: block;
  padding: 10px 10px;
}

