.user-table-wrapper {
  margin-top: 100px;
  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 20px;
  width: auto;
}

.user-table-wrapper h2 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #111827;
}

.table-container {
  overflow-x: auto;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.user-table thead {
  background: #f9fafb;
}

.user-table th,
.user-table td {
  text-align: left;
  padding: 12px 15px;
  border-bottom: 1px solid #e5e7eb;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.name {
  font-weight: 500;
  color: #111827;
}

.role {
  font-size: 12px;
  color: #6b7280;
}







.stock-badge {
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 600;
}

.pending {
  background: #e6f7e6;
  color: #22c55e;
}

.approved {
  background: #ffeaea;
  color: #ef4444;
}